.footer {
	padding-top: toRem(52);

	background-color: $primary-sky-blue;
	color: $neutral-white;

	@media (max-width: $tablet) {
		padding-top: toRem(36);
	}

	// .footer__container
	&__container {
	}

	// .footer__form
	&__form {
		margin-bottom: toRem(52);

		@media (min-width: em(1550)) {
			margin-right: toRem(-24);
			margin-left: toRem(-24);
		}

		@media (max-width: $tablet) {
			margin-bottom: toRem(30);
		}

		@media (max-width: em(374)) {
			margin-right: toRem(-24);
			margin-left: toRem(-24);
		}
	}

	// .footer__content
	&__content {
		display: flex;
		justify-content: space-between;
		gap: toRem(100);

		margin-bottom: toRem(74);

		@media (max-width: $tablet) {
			margin-bottom: toRem(30);
		}

		@media (max-width: em(650)) {
			flex-direction: column;
			gap: toRem(30);
		}
	}

	// .footer__content-row
	&__content-col {
		&:first-child {
			display: flex;
			flex-direction: column;
			gap: toRem(32);
		}
	}

	// .footer__logo
	&__logo {
		& img {
			width: toRem(222);
		}
	}

	// .footer__slogan
	&__slogan {
		max-width: toRem(460);

		line-height: 155.555556%; /* 28/18 */

		@media (min-width: $tablet) {
			margin-bottom: toRem(2);
		}
	}

	// .footer__soc-media
	&__soc-media {
		display: flex;
		gap: toRem(24);

		& li {
			@media (any-hover: hover) {
				&:hover {
					& img {
						transform: scale(1.2, 1.2);
					}
				}
			}
		}

		& img {
			height: toRem(24);
			width: toRem(24);

			transition: all 0.3s ease 0s;
		}
	}

	// .footer__nav
	&__nav {
	}

	// .footer__copyright
	&__copyright {
		display: flex;
		justify-content: center;

		padding: toRem(32) toRem(0);

		border-top: 1px solid rgba(255, 255, 255, 0.3);

		line-height: 155.555556%; /* 28/18 */

		@media (max-width: $tablet) {
			padding: toRem(16) toRem(0);
		}

		@media (max-width: em(374)) {
			font-size: toRem(14);
		}
	}
}

.subscribe-form {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: toRem(50);

	padding: toRem(26) toRem(24);

	background-color: #4ac9ff;
	border-radius: toRem(24);

	@media (max-width: $tablet) {
		flex-direction: column;
		gap: toRem(24);

		padding: toRem(20);
	}

	@media (max-width: em(374)) {
		border-radius: 0;
	}

	// .subscribe-form__txt
	&__txt {
		@media (max-width: $tablet) {
			text-align: center;
		}

		@media (max-width: em(650)) {
			text-align: left;
		}

		& p {
			&:not(:last-child) {
				margin-bottom: toRem(12);
			}

			font-size: toRem(24);
			font-weight: 700;
			line-height: 133.333333%; /* 32/24 */
		}

		& span {
			line-height: 155.555556%; /* 28/18 */
		}
	}

	// .subscribe-form__body
	&__body {
		position: relative;

		display: grid;
		grid-template-columns: minmax(toRem(230), toRem(273)) toRem(161);
		align-items: center;
		gap: toRem(50);

		width: toRem(516);
		height: toRem(76);
		padding: toRem(12) toRem(12) toRem(12) toRem(20);

		background-color: $neutral-white;
		border-radius: 60px;

		@media (max-width: $tablet) {
			grid-template-columns: 1fr auto;
		}

		@media (max-width: em(650)) {
			width: 100%;
		}

		@media (max-width: $mobileSmall) {
			gap: toRem(20);
		}

		@media (max-width: em(374)) {
			grid-template-columns: auto auto;
		}

		& .form__error {
			position: absolute;
			top: toRem(-40);
			left: 40%;
			transition: all 0.3s ease 0s;

			padding: toRem(8) toRem(15);

			background-color: rgba(255, 169, 40, 0.6);
			border-radius: toRem(7);

			color: $mainColor;

			animation: error-mess 0.3s;
		}
	}

	// .subscribe-form__input
	&__input {
		height: toRem(28);
		padding: toRem(0) toRem(8);

		text-overflow: ellipsis;
		overflow: hidden;
		text-wrap: nowrap;
		&::placeholder {
			color: $neutral-grey-2;

			line-height: 155.555556%; /* 28/18 */
		}

		&:focus {
			outline: 1px solid #717aa4;
			color: #717aa4;
		}
	}

	// .subscribe-form__btn
	&__btn {
		height: toRem(52);

		line-height: 133.333333%; /* 24/18 */

		@media (max-width: $tablet) {
			height: toRem(40);
			max-width: fit-content;
			padding: toRem(8) toRem(16);

			font-size: toRem(16);
		}
	}
}

.nav-footer {
	display: flex;
	gap: toRem(100);

	@media (max-width: $tablet) {
		gap: toRem(64);
	}

	// .nav-footer__col
	&__col {
	}

	// .nav-footer__title
	&__title {
		margin-bottom: toRem(24);

		font-size: toRem(24);
		font-weight: 700;
		line-height: 133.333333%; /* 32/24 */
	}

	// .nav-footer__list
	&__list {
		display: flex;
		flex-direction: column;
		gap: toRem(12);

		font-size: toRem(20);
		line-height: 160%; /* 32/20 */
	}

	// .nav-footer__item
	&__item {
		transition: color 0.3s ease 0s;

		@media (any-hover: hover) {
			&:hover {
				color: $primary-dark-blue-2;
			}
		}
	}
}

@keyframes error-mess {
	0% {
		opacity: 0.1;
	}

	100% {
		opacity: 1;
	}
}
