.header {
	background-color: $primary-dark-blue-1;
	// .header__container
	&__container {
	}

	// .header__body
	&__body {
		display: grid;
		align-items: center;
		grid-template-columns: toRem(200) 1fr toRem(200);

		padding: toRem(28) 0;

		color: $neutral-white;

		font-weight: 700;
		line-height: math.div(24, 18);

		@media (max-width: $tablet) {
			grid-template-columns: 1fr 1fr;

			padding: toRem(16) 0;
		}
	}

	// .header__logo
	&__logo {
		position: relative;
		@include adaptiveValue("left", -75, 0, 0, 1920, 1650);

		& img {
			height: toRem(24);
		}
	}

	// .header__menu
	&__menu {
		justify-self: center;

		@media (max-width: $tablet) {
			justify-self: end;
		}
	}

	// .header__ordering
	&__ordering {
		position: relative;
		@include adaptiveValue("right", -75, 0, 0, 1920, 1650);

		justify-self: end;

		display: flex;
		align-items: center;
		gap: toRem(10);

		& span {
			width: toRem(12);
			height: toRem(12);
			border-radius: 50%;
			background-color: #ff5e5e;
		}

		@media (max-width: $tablet) {
			padding-bottom: toRem(36);
		}
	}
}

.menu {
	// .menu__icon
	&__icon {
	}

	// .menu__body
	&__body {
		@media (max-width: $tablet) {
			position: fixed;
			top: 0;
			right: -100%;
			z-index: 3;

			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-between;

			width: 100%;
			width: percent(272, 375);
			height: 100%;
			overflow: auto;

			margin-top: toRem(56);
			padding: toRem(32) toRem(15) toRem(50);

			opacity: 0;
			background-color: $primary-dark-blue-1;

			transition:
				right 0.4s ease-out,
				opacity 0.5s ease-out;

			.menu-open & {
				right: 0;

				opacity: 1;
			}
		}
	}

	// .menu__list
	&__list {
		display: flex;
		gap: toRem(57);

		@media (max-width: $tablet) {
			flex-direction: column;
			gap: toRem(64);
		}
	}

	// .menu__item
	&__item {
	}

	// .menu__link
	&__link {
	}
}

//====================================================================================================

//Burger

.icon-menu {
	display: none;
	@media (max-width: $tablet) {
		display: block;
		position: relative;
		width: toRem(20);
		height: toRem(14);
		z-index: 5;
		@media (any-hover: none) {
			cursor: default;
		}
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: toRem(2);
			border-radius: toRem(1);
			background-color: $neutral-white;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - toRem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - toRem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - toRem(1));
				transform: rotate(45deg);
			}
		}
	}

	// !!! Віключення виділення кнопки
	&:focus {
		outline: none;
	}
}
