//===== >>> MAIN - SECTION >>> ====================================

.hero {
	position: relative;

	display: grid;

	min-height: 100vh;
	padding: toRem(56) toRem(0) toRem(61);

	@include adaptiveValue("padding-bottom", 61, 30, 0, $maxWidth, 991.98);

	background-color: $primary-dark-blue-1;

	@media (min-width: $tablet) {
		grid-template-columns: auto 1fr auto;

		padding: toRem(80) toRem(16) toRem(61);
	}

	&::before,
	&::after {
		content: "";
		position: absolute;
		bottom: toRem(-1);
		@include adaptiveValue("width", 482, 238, 0, $maxWidth, 991.98);
		@include adaptiveValue("height", 45, 22, 0, $maxWidth, 992.98);

		background-position: center center; /* x y */
		background-size: cover;
		background-repeat: no-repeat;

		@media (max-width: $tablet) {
			bottom: toRem(-14);

			width: toRem(485);
			height: toRem(45);
		}
	}

	&::before {
		left: 0;
		background-image: url("@img/decor-l.svg");

		@media (max-width: $tablet) {
			left: toRem(-405);
		}
	}

	&::after {
		right: 0;
		background-image: url("@img/decor-r.svg");

		@media (max-width: $tablet) {
			right: toRem(-405);
		}
	}

	// .hero__body
	&__body {
		padding-top: toRem(162);
		padding-bottom: toRem(26);
		@include adaptiveValue("padding-top", 162, 26, 0, 991, 375);
	}

	// .hero__img-right,
	// .hero__img-left
	&__img-left,
	&__img-right {
		display: none;

		@media (min-width: $tablet) {
			display: block;

			@include adaptiveValue("width", 412, 200, 0, 1920, 991);

			border-radius: 22px;
			overflow: hidden;

			& img {
				object-position: center top;
			}
		}
	}

	// .hero__container
	&__container {
		display: flex;
		flex-direction: column;
		gap: toRem(48);

		max-width: toRem(1200);
		height: 100%;

		@media (max-width: $tablet) {
			justify-content: space-between;
			gap: toRem(24);
		}
	}

	// .hero__content
	&__content {
		display: flex;
		flex-direction: column;
		gap: toRem(25);
		align-items: center;
		text-align: center;

		@media (max-width: $mobileSmall) {
			gap: toRem(14);
		}
	}

	// .hero__short-serv-list
	&__short-serv-list {
		display: flex;
		align-items: center;
		@include adaptiveValue("gap", 22, 14, 0, 991, 375);

		color: $neutral-grey-2;

		font-size: toRem(20);
		@include adaptiveValue("font-size", 20, 12, 0, 992, 320);
		font-weight: 700;
		line-height: math.div(28, 20);

		& span {
			width: toRem(5);
			height: toRem(5);

			background-color: $neutral-grey-2;
			border-radius: 50%;
		}

		@media (max-width: $tablet) {
			font-weight: 600;
		}
	}

	// .hero__title
	&__title {
		padding: toRem(0) toRem(190) toRem(0);
		@include adaptiveValue("padding-right", 190, 0, 0, 1920, 1200);
		@include adaptiveValue("padding-left", 190, 0, 0, 1920, 1200);

		color: $neutral-white;

		@include adaptiveValue("font-size", 64, 32, 0, 1920, 400);
		font-weight: 800;
		line-height: math.div(76, 64);

		@media (max-width: $tablet) {
			margin-bottom: toRem(10);

			font-weight: 700;
		}
	}

	// .hero__short-advant-list
	&__short-advant-list {
		display: flex;
		@include adaptiveValue("column-gap", 45, 27, 0, 991, 375);
		row-gap: toRem(12);
		flex-wrap: wrap;
		justify-content: center;

		color: $primary-sky-blue;

		@include adaptiveValue("font-size", 20, 14, 0, 991, 375);
		line-height: math.div(32, 20);

		& li {
			display: flex;
			align-items: center;
			@include adaptiveValue("gap", 10, 7, 0, 991, 375);

			&::before {
				content: "";
				@include adaptiveValue("height", 24, 18, 0, 991, 375);
				@include adaptiveValue("width", 24, 18, 0, 991, 375);
				background-image: url("@img/check-thin.svg");
				background-position: center center; /* x y */
				background-size: cover;
				background-repeat: no-repeat;
			}
		}
	}

	// .hero__btn
	&__btn {
		text-align: center;

		@media (min-width: $tablet) {
			flex: 1 1 auto;

			margin-bottom: toRem(25);
		}

		@media (max-width: $tablet) {
			margin-bottom: toRem(25);
		}
	}

	// .hero__advantages
	&__advantages {
	}

	// .hero__decor
	&__decor {
	}
}

.advant-hero {
	//padding: 0 toRem(50);
	// .advant-hero__list
	&__list {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(toRem(180), auto));
		gap: toRem(64);

		@media (max-width: $tablet) {
			gap: toRem(20);
		}
	}

	// .advant-hero__item
	&__item {
		position: relative;

		display: flex;
		align-items: center;
		gap: toRem(16);

		@media (min-width: 1900px) {
			&:not(:last-child) {
				&::after {
					content: "";
					position: absolute;
					width: toRem(1);
					height: 100%;
					top: 0;
					right: toRem(-32);

					background: linear-gradient(
						0deg,
						rgba(20, 34, 87, 1) 0%,
						rgba(79, 102, 183, 1) 50%,
						rgba(20, 34, 87, 1) 100%
					);
				}
			}
		}

		@media (max-width: $tablet) {
			flex-direction: column;
		}
	}

	// .advant-hero__icon
	&__icon {
		flex-grow: 0;
		flex-shrink: 0;
		@include adaptiveValue("flex-basis", 48, 32, 0, 991, 375);

		display: flex;
		align-items: center;
		justify-content: center;

		@include adaptiveValue("width", 48, 32, 0, 991, 375);
		@include adaptiveValue("height", 48, 32, 0, 991, 375);

		background-color: $primary-dark-blue-2;
		border-radius: 50%;

		& img {
			@include adaptiveValue("height", 24, 14, 0, 991, 375);
		}
	}

	// .advant-hero__txt
	&__txt {
		color: $neutral-white;

		@include adaptiveValue("font-size", 18, 14, 0, 991, 375);
		font-weight: 600;
		line-height: math.div(24, 18);

		@media (max-width: $tablet) {
			text-align: center;
		}
	}
}

//==================================== >>> MAIN - SECTION >>> =====

//===== >>> DESCRIPTION - SECTION >>> ==============================

.description {
	// .description__container
	&__container {
		display: grid;
		gap: toRem(90);

		@media (min-width: $tablet) {
			grid-template-columns: auto 1fr;
		}
	}

	// .description__content
	&__content {
		display: flex;
		flex-direction: column;
		gap: toRem(56);
		@include adaptiveValue("gap", 56, 32, 0, 991, 375);

		padding-top: toRem(100);
		@include adaptiveValue("padding-top", 100, 0, 0, 1920, 991);

		@media (min-width: $tablet) {
			max-width: toRem(561);
		}
	}

	// .description__title
	&__title {
		text-align: center;
	}

	// .description__list
	&__list {
		display: grid;
		grid-row-gap: toRem(32);
		grid-column-gap: toRem(50);

		@include adaptiveValue("margin-bottom", 50, 1, 3, 991, 375);

		@media (max-width: $tablet) {
			grid-row-gap: toRem(24);
			grid-column-gap: toRem(30);
		}

		@media (min-width: 550px) {
			grid-template: repeat(3, 1fr) / repeat(2, 1fr);
		}

		@media (max-width: 549px) {
			justify-content: center;
		}
	}

	// .description__item
	&__item {
		display: flex;
		align-items: center;
		gap: toRem(12);

		color: $primary-dark-blue-2;

		font-size: toRem(20);
		@include adaptiveValue("font-size", 20, 16, 0, 991, 375);
		font-weight: 700;
		line-height: math.div(28, 20);

		&::before {
			content: "";
			height: toRem(12);
			width: toRem(12);
			background-image: url("@img/check-bold.svg");
			background-position: center center; /* x y */
			background-size: cover;
			background-repeat: no-repeat;
		}

		@media (max-width: $tablet) {
			gap: toRem(10);

			font-weight: 600;
		}
	}

	// .description__contacting
	&__contacting {
		align-self: center;
	}

	// .description__contacting
	&__contacting-body {
		display: inline-flex;
		flex-direction: column;

		padding: toRem(12) toRem(32);

		background-color: $primary-sky-blue;
		color: $neutral-white;
		border-radius: 24px;

		line-height: math.div(28, 20);

		& a {
			text-decoration: underline;
			white-space: nowrap;

			@include adaptiveValue("font-size", 20, 18, 0, 1920, 991);
			font-weight: 600;

			transition: color 0.3s ease-out;

			@media (any-hover: hover) {
				&:hover {
					color: $neutral-grey-1;
				}
			}
		}
	}

	// .description__decor
	&__decor {
		@media (max-width: $tablet) {
			grid-row: 1 / 2;
		}
	}

	// .description__img
	&__img {
		max-width: toRem(712);
		padding-top: 85%;
		margin: 0 0 0 auto;

		@media (max-width: $tablet) {
			padding-top: 73%;
			margin: 0 auto;
		}
	}
}

//============================== >>> DESCRIPTION - SECTION >>> =====

//===== >>> SERVICES - SECTION >>> =================================

.services {
	// .services__container
	&__container {
		display: flex;
		flex-direction: column;
		@include adaptiveValue("gap", 92, 32, 0, 991, 375);
	}

	// .services__title
	&__title {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;

		& p {
			max-width: toRem(552);
		}
	}

	// .services__list
	&__list {
		display: grid;

		@media (min-width: $mobileSmall) {
			grid-template-columns: repeat(auto-fit, minmax(toRem(360), auto));
		}
	}

	// .services__item
	&__item {
		display: flex;
		flex-direction: column;
		gap: toRem(12);
		text-align: left;

		padding: toRem(32);

		@media (max-width: $tablet) {
			text-align: center;
			align-items: center;
		}

		@media (max-width: 400px) {
			padding: toRem(32) 0;
		}

		// .services__item_btn-block
		&_btn-block {
			display: flex;
			flex-direction: column;
			gap: toRem(4);
			align-items: center;
			text-align: center;

			background-color: $primary-sky-blue;
			border-radius: 24px;

			@media (max-width: 400px) {
				padding: toRem(32);
			}

			& h4,
			& p {
				color: $neutral-white;
			}

			& h4 {
				font-size: toRem(24);
				font-weight: 700;
				line-height: math.div(32, 24);
			}

			& p {
				&:not(:last-child) {
					margin-bottom: toRem(28);
				}

				line-height: math.div(28, 18);
			}
		}
	}

	// .services__img
	&__img {
		display: flex;
		align-items: center;
		justify-content: center;

		height: toRem(64);
		width: toRem(64);
		margin-bottom: toRem(4);

		background-color: $primary-dark-blue-1;
		border-radius: 20px;

		& img {
			width: toRem(40);
			height: toRem(40);
		}
	}

	// .services__item-title
	&__item-title {
		font-size: toRem(24);
		font-weight: 700;
		line-height: math.div(32, 24);
	}

	// .services__txt
	&__txt {
		color: $neutral-grey-1;

		line-height: math.div(28, 18);
	}
}

//================================= >>> SERVICES - SECTION >>> =====

//===== >>> GUARANTEE - SECTION >>> =================================

.guarantee {
	// .guarantee__body
	&__body {
		position: relative;

		margin: 0 toRem(60);
		@include adaptiveValue("padding-top", 64, 32, 0, 991, 375);
		@include adaptiveValue("padding-bottom", 64, 32, 0, 991, 375);

		background-color: $primary-dark-blue-1;
		color: $neutral-grey-2;
		border-radius: 24px;

		& h2,
		& h4 {
			color: $neutral-white;
		}

		& p {
			line-height: math.div(28, 18);
		}

		@media (min-width: 1700px) {
			&::before,
			&::after {
				content: "";
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				height: toRem(645);
				width: toRem(45);
				background-position: center center; /* x y */
				background-size: cover;
				background-repeat: no-repeat;
			}

			&::before {
				background-image: url("@img/guarantee/decor-quar-left.svg");
				left: toRem(-12);
			}

			&::after {
				background-image: url("@img/guarantee/decor-quar-right.svg");
				right: toRem(-12);
			}
		}

		@media (max-width: $tablet) {
			margin: 0 toRem(24);
		}
	}

	// .guarantee__container
	&__container {
	}

	// .guarantee__title
	&__title {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		@include adaptiveValue("grid-column-gap", 200, 50, 0, 1920, 992);
		align-items: end;
		justify-content: space-between;

		@include adaptiveValue("margin-bottom", 120, 58, 0, 991, 375);

		@media (max-width: $tablet) {
			grid-template-columns: 1fr;
			@include adaptiveValue("grid-row-gap", 40, 12, 0, 991, 375);
			justify-items: center;
			text-align: center;

			& p {
				max-width: toRem(700);
			}
		}

		& h2 {
			@include adaptiveValue("font-size", 52, 24, 0, 991, 375);
			font-weight: 700;
			line-height: math.div(64, 52);
		}
	}

	// .guarantee__list
	&__list {
		display: grid;
		grid-template-columns: repeat(2, minmax(auto, 628px));
		grid-row-gap: toRem(60);
		grid-column-gap: toRem(50);
		justify-content: space-between;

		@media (max-width: $tablet) {
			grid-template-columns: minmax(auto, 628px);
			justify-content: center;
		}
	}

	// .guarantee__item
	&__item {
		display: grid;
		grid-template: auto 1fr / auto 1fr;
		grid-column-gap: toRem(38);
		grid-row-gap: toRem(12);

		@media (max-width: $mobileSmall) {
			grid-template: 1fr auto auto / 1fr;
			justify-items: center;
			text-align: center;
		}

		opacity: 0;
		transform: translate(0px, -15%);
		transition:
			opacity 0.5s,
			transform 0.5s;

		._watcher-view & {
			opacity: 1;
			transform: translate(0, 0);
			@for $i from 1 through 8 {
				&:nth-child(#{$i}) {
					$startDelay: 0.5;
					$delay: $i * 0.15 + $startDelay;
					transition-delay: #{$delay}s;
				}
			}
		}
	}

	// .guarantee__icon
	&__icon {
		@media (min-width: $mobileSmall) {
			grid-row: 1 / -1;
		}

		@media (max-width: $mobileSmall) {
			margin-bottom: toRem(7);
		}

		& img {
			@include adaptiveValue("width", 89, 62, 0, 991, 375);
			@include adaptiveValue("height", 89, 62, 0, 991, 375);
		}
	}

	// .guarantee__item-title
	&__item-title {
		font-size: toRem(24);
		font-weight: 700;
		line-height: math.div(32, 24);
	}

	// .guarantee__item-txt
	&__item-txt {
		@media (min-width: $mobileSmall) {
			grid-column: 2 / -1;
		}
	}
}

//================================= >>> GUARANTEE - SECTION >>> =====

//===== >>> HOW-WORKS - SECTION >>> =================================

.how-works {
	// .how-works__container
	&__container {
		display: grid;
		grid-template-columns: auto 1fr;
		gap: toRem(13);

		@media (max-width: 1600px) {
			gap: toRem(70);
		}

		@media (max-width: $mobile) {
			grid-template: 1fr auto / 1fr;
		}
	}

	// .how-works__img
	&__img {
		@include adaptiveValue("width", 714, 300, 2, 1920, 768);
		padding-top: 85%;

		@media (min-width: 1600px) {
			position: relative;
			left: toRem(-74);
		}

		@media (max-width: $mobile) {
			width: 70%;
			padding-top: 59%;
			margin: 0 auto;
		}

		@media (max-width: 500px) {
			width: 100%;
			padding-top: 85%;
		}
	}

	// .how-works__content
	&__content {
	}

	// .how-works__title
	&__title {
		margin-bottom: toRem(60);

		@media (max-width: $tablet) {
			margin-bottom: toRem(24);
		}
	}

	// .how-works__list
	&__list {
		display: flex;
		flex-direction: column;
		gap: toRem(52);

		@media (max-width: $tablet) {
			gap: toRem(24);
		}
	}

	// .how-works__item
	&__item {
		display: grid;
		grid-template-columns: 1fr toRem(164) auto;
		gap: toRem(24);
		align-items: center;

		@media (max-width: $tablet) {
			grid-template: 1fr auto / auto 1fr;
			gap: toRem(12) toRem(24);
		}

		opacity: 0;
		transform: translate(0px, -15%);
		transition:
			opacity 0.5s,
			transform 0.5s;

		._watcher-view & {
			opacity: 1;
			transform: translate(0, 0);
			@for $i from 1 through 8 {
				&:nth-child(#{$i}) {
					$startDelay: 0.5;
					$delay: $i * 0.15 + $startDelay;
					transition-delay: #{$delay}s;
				}
			}
		}
	}

	// .how-works__item-num
	&__item-num {
		color: $neutral-grey-2;

		font-size: toRem(52);
		font-weight: 700;
		line-height: math.div(64, 52);
	}

	// .how-works__item-title
	&__item-title {
		margin-right: toRem(12);

		font-size: toRem(24);
		font-weight: 700;
		line-height: math.div(32, 24);
	}

	// .how-works__item-txt
	&__item-txt {
		color: $neutral-grey-1;

		line-height: math.div(28, 18);

		@media (max-width: $tablet) {
			grid-column: 1 / -1;
		}
	}
}

//================================= >>> HOW-WORKS - SECTION >>> =====

//===== >>> REVIEWS - SECTION >>> ===================================

.reviews {
	@include adaptiveValue("padding-top", 130, 20);
	@include adaptiveValue("padding-bottom", 130, 0);

	// .reviews__container
	&__container {
		max-width: toRem(1178);
	}

	// .reviews__body
	&__body {
		position: relative;

		@media (min-width: em(600)) {
			padding: 0 toRem(72);
		}
	}

	// .reviews__title
	&__title {
		max-width: toRem(650);
		margin: 0 auto;
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 90, 30);
		}

		text-align: center;
	}

	// .reviews__slider
	&__slider {
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 106, 30);
		}
	}

	// .reviews__wrapper
	&__wrapper {
	}

	// .reviews__slide
	&__slide {
	}

	// .reviews__arrow
	&__arrow {
		position: absolute;
		top: 50%;
		transform: translate(0px, -50%);
		width: toRem(48);
		height: toRem(48);
		border-radius: 50%;
		background: $primary-sky-blue url("@img/prev-arrow.svg") center no-repeat;

		&.swiper-button-disabled {
			background: $neutral-soft-grey url("@img/prev-arrow.svg") center no-repeat;
			pointer-events: none;
			cursor: default;
		}

		@media (max-width: em(600)) {
			display: none;
		}
	}

	// .reviews__arrow--left
	&__arrow--left {
		left: 0;
	}

	// .reviews__arrow--right
	&__arrow--right {
		right: 0;

		transform: translate(0px, -50%) rotate(-180deg);
	}

	// .reviews__bullets
	&__bullets {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		column-gap: toRem(12);
		column-gap: toRem(3);

		.swiper-pagination-bullet {
			flex: 0 0 toRem(12);
			height: toRem(12);

			background-color: $neutral-soft-grey;
			border-radius: 50%;
			cursor: pointer;

			transition: all 0.3s;
		}

		.swiper-pagination-bullet-active {
			flex: 0 0 toRem(40);

			background-color: $primary-sky-blue;
			border-radius: 24px;
		}
	}
}

.slide-reviews {
	text-align: center;
	// .slide-reviews__logo
	&__logo {
		position: relative;

		padding-bottom: toRem(25);
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 40, 25);
		}

		text-align: center;

		&::before {
			content: "";
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 1px;
			background: linear-gradient(to right, rgba(203, 207, 219, 0) 0%, #cbcfdb 51%, rgba(203, 207, 219, 0) 100%);
		}
	}

	// .slide-reviews__text
	&__text {
		display: inline-block;

		max-width: toRem(730);
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 40, 20);
		}
	}

	// .slide-reviews__user
	&__user {
		display: inline-flex;
		gap: toRem(32);

		text-align: left;
	}

	// .slide-reviews__avatar
	&__avatar {
		flex: 0 0 toRem(76);
		width: toRem(76);

		border-radius: 50%;

		& img {
			max-width: 100%;
		}
	}

	// .slide-reviews__body
	&__body {
	}

	// .slide-reviews__name
	&__name {
		&:not(:last-child) {
			margin-bottom: toRem(8);
		}

		@include adaptiveValue("font-size", 24, 18);
		font-weight: 700;
		line-height: 133.333333%; /* 32/24 */
	}

	// .slide-reviews__rating
	&__rating {
		& .rating__value {
			display: none;
		}
	}
}

//=================================== >>> REVIEWS - SECTION >>> =====

//===== >>> BLOG - SECTION >>> =====================================

.blog {
	@include adaptiveValue("padding-top", 84, 20);
	@include adaptiveValue("padding-bottom", 84, 40);

	// .blog__container
	&__container {
		display: grid;
	}

	// .blog__title
	&__title {
		max-width: toRem(690);
		margin: 0 auto;
		@include adaptiveValue("margin-bottom", 56, 25);

		text-align: center;
	}

	// .blog__items
	&__items {
		display: grid;
		gap: toRem(48);
		grid-template-columns: repeat(auto-fill, minmax(toRem(400), 1fr));

		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 56, 20);
		}

		@media (max-width: $mobileSmall) {
			grid-template-columns: repeat(auto-fill, minmax(toRem(280), 1fr));
		}
	}

	// .blog__item
	&__item {
	}

	// .blog__view-more
	&__view-more {
		justify-self: center;

		padding-right: em(28, 24);

		background: url("@img/view-more.svg") right no-repeat;
		color: $primary-sky-blue;

		@include adaptiveValue("font-size", 24, 18);
		font-weight: 700;
		line-height: 133.333333%; /* 32/24 */

		@media (any-hover: hover) {
			&:hover {
				text-decoration: underline;
			}
		}
	}
}

.item-blog {
	display: grid;

	// .item-blog__image
	&__image {
		&:not(:last-child) {
			margin-bottom: toRem(24);
		}

		aspect-ratio: 444 / 300;
		border-radius: toRem(25);
		overflow: hidden;

		& img {
			transition: transform 0.5s;
		}

		@media (any-hover: hover) {
			&:hover {
				& img {
					transform: scale(1.05);
				}
			}
		}
	}

	// .item-blog__date
	&__date {
		&:not(:last-child) {
			margin-bottom: toRem(16);
		}

		color: $neutral-grey-1;

		line-height: 155.555556%; /* 28/18 */
	}

	// .item-blog__title
	&__title {
		&:not(:last-child) {
			margin-bottom: toRem(16);
		}
	}

	// .item-blog__link-title
	&__link-title {
		@include adaptiveValue("font-size", 32, 28);
		font-weight: 700;
		line-height: 125%; /* 40/32 */

		@media (any-hover: hover) {
			&:hover {
				text-decoration: underline;
			}
		}
	}

	// .item-blog__text
	&__text {
		&:not(:last-child) {
			margin-bottom: toRem(24);
		}

		color: $neutral-grey-1;

		line-height: 155.555556%; /* 28/18 */
	}

	// .item-blog__tags
	&__tags {
		display: flex;
		flex-wrap: wrap;
		column-gap: toRem(12);
		row-gap: toRem(3);
	}

	// .item-blog__tag
	&__tag {
		padding: toRem(8) toRem(16);

		background-color: $neutral-light-grey;
		color: $neutral-grey-1;
		border-radius: toRem(30);

		font-size: toRem(14);
		line-height: 142.857143%; /* 20/14 */
		font-weight: 600;

		transition: all 0.3s;

		@media (any-hover: hover) {
			&:hover {
				background-color: $primary-sky-blue;
				color: $neutral-white;
			}
		}
	}
}

//===================================== >>> BLOG - SECTION >>> =====

.footer {
	height: 500px;
	background-color: green;
}

//============================== >>> !!!! - SECTION >>> =====
